#all_run#@#program#$end_of_all$
#program#@#program##program_unit#
#program_unit#@#namespace#$;$
#program_unit#@#struct#$;$
#program_unit#@#class#$;$
#program_unit#@#function#
#program_unit#@#enum#$;$
#program_unit#@#union#$;$
#program_unit#@#declare#$;$
#class#@#template#$class$$var$#inherit##class_body#
#struct#@#template#$struct$$var$#inherit##class_body#
#union#@#template#$union$$var$#inherit##class_body#
#template#@
#template#@$template$$<$#template_unit#$>$
#template_unit#@$typename$$var$
#template_unit#@$typename$$var$$,$#template_unit#
#inherit#@
#inherit#@$:$#inherit_unit#
#inherit_unit#@#class_right#$var$
#inherit_unit#@#class_right#$var$$,$#inherit_unit#
#class_body#@${$#class_unit#$}$
#class_unit#@
#class_unit#@#class_unit##class_right##:#
#class_unit#@#class_unit##declare#
#class_unit#@#class_unit##function#
#class_unit#@#class_unit#$static$##declare#
#class_unit#@#class_unit#$static$##function#
#class_unit#@#namespace#$;$
#class_unit#@#struct#$;$
#class_unit#@#union#$;$
#class_unit#@#class#$;$
#class_unit#@#enum#$;$
#namespace#@$namespace$$var$${$#namespace_unit#$}$
#namespace_unit#@$class$$var$$;$#namespace_unit#
#namespace_unit#@$struct$$var$$;$#namespace_unit#
#namespace_unit#@$union$var$$;$#namespace_unit#
#namespace_unit#@$enum$$var$$;$#namespace_unit#
#namespace_unit#@
#enum#@$enum$$var$${$#enum_list#$}$
#enum_list#@$var$$=$$const_num$
#enum_list#@#enum_list#$,$$var$$=$$const_num$
#type#@#type_keyword##pointer_level#
#pointer_level#@$*$#pointer_level#
#pointer_level#@
#type_keyword#@$void$
#type_keyword#@$short$
#type_keyword#@$char$
#type_keyword#@$int$
#type_keyword#@$unsigned$$short$
#type_keyword#@$unsigned$$byte$
#type_keyword#@$unsigned$$int$
#type_keyword#@$double$
#type_keyword#@$float$
#type_keyword#@$long$$double$
#type_keyword#@$long$$float$
#type_keyword#@$var$#using_template#
#type_keyword#@$thread$
#type_keyword#@$function$
#type#@$const$#type#
#type#@$smart$#type#
#type#@$random$#type#
#type#@$register$#type#
#type#@$auto$#type#
#type#@$extern$#type#
#type#@$inner$#type#
#type#@$import$#type#
#type#@#class#
#type#@#struct#
#type#@#union#
#type#@#enum#
#type#@#template#$class$#inherit##class_body#
#type#@#template#$struct$#inherit##class_body#
#type#@#template#$union$#inherit##class_body#
#type#@$enum$${$#enum_list#$}$
#using_template#@
#using_template#@$<$#using_template_unit#$>$
#using_template_unit#@$type$
#using_template_unit#@$type$$,$#using_template_unit#
#declare#@#type##declare_part#
#declare_part#@#declare_item#
#declare_part#@#declare_item#$,$#declare_part#
#declare_item#@$var$
#declare_item#@$var$$=$#statement#
#function#@#function_in#$($$)$#function_register##block##function_out#
#function#@#function_in#$($param_list$)$#function_register##block##function_out#
#function#@#function_in#$($$)$#function_register#$;$
#function#@#function_in#$($param_list$)$$;$
#function_register#@
#function_in#@#type#$var$
#function_in#@#type#$operator$$=$
#function_in#@#type#$operator$$+$
#function_in#@#type#$operator$$-$
#function_in#@#type#$operator$$*$
#function_in#@#type#$operator$$/$
#function_in#@#type#$operator$$%$
#function_in#@#type#$operator$$^$
#function_in#@#type#$operator$$&$
#function_in#@#type#$operator$$|$
#function_in#@#type#$operator$$<<$
#function_in#@#type#$operator$$>>$
#function_in#@#type#$operator$$<:$
#function_in#@#type#$operator$$:>$
#function_in#@#type#$operator$$>$
#function_in#@#type#$operator$$<$
#function_in#@#type#$operator$$<=$
#function_in#@#type#$operator$$>=$
#function_in#@#type#$operator$$==$
#function_in#@#type#$operator$$!=$
#function_in#@#type#$operator$$&&$
#function_in#@#type#$operator$$||$
#function_in#@#type#$operator$$~$
#function_in#@#type#$operator$$!$
#function_in#@#type#$operator$$+=$
#function_in#@#type#$operator$$-=$
#function_in#@#type#$operator$$*=$
#function_in#@#type#$operator$$/=$
#function_in#@#type#$operator$$%=$
#function_in#@#type#$operator$$^=$
#function_in#@#type#$operator$$&=$
#function_in#@#type#$operator$$|=$
#function_in#@#type#$operator$$<<=$
#function_in#@#type#$operator$$>>=$
#function_in#@#type#$operator$$<:=$
#function_in#@#type#$operator$$:>=$
#function_in#@$var$
#function_out#@
#param_list#@$...$
#param_list#@#type#$var$
#param_list#@#type#$var$$,$#param_list#
#param_list#@#type#$var$$=$#statement#
#param_list#@#type#$var$$=$#statement#$,$#param_list#
#block#@#enter_control##control##leave_control#
#block#@#enter_block##statement_list##leave_block#
#enter_block#@${$
#leave_block#@$}$
#enter_control#@
#leave_control#@
#statement_list#@#statement#$;$#statement_list#
#statememt_list#@#control##statememt_list#
#statement_list#
#left#@#pointer_level##left#
#left#@#left#$[$#statement#$]$
#left#@$($#left#$)$
#left#@#left#$->$$var$
#left#@#left#$.$$var$
#left#@$var$
#statement#@$const_string$
#statement#@$const_num$
#statement#@$const_char$
#statement#@$const_double$
#statement#@$const_null$
#statement#@$const_false$
#statement#@$const_true$
#statement#@$const_this$
#statement#@#-##statement#
#statement#@#declare#
#statement#@#left#
#statement#@$&$#left#
#statement#@#left#$=$#statement#
#statement#@#left#$+=$#statement#
#statement#@#left#$-=$#statement#
#statement#@#left#$*=$#statement#
#statement#@#left#$/=$#statement#
#statement#@#left#$%=$#statement#
#statement#@#left#$^=$#statement#
#statement#@#left#$&=$#statement#
#statement#@#left#$|=$#statement#
#statement#@#left#$<<=$#statement#
#statement#@#left#$>>=$#statement#
#statement#@#left#$<:=$#statement#
#statement#@#left#$>:=$#statement#
#statement#@#statement#$+$#statement#
#statement#@#statement#$-$#statement#
#statement#@#statement#$*$#statement#
#statement#@#statement#$/$#statement#
#statement#@#statement#$%$#statement#
#statement#@#statement#$&$#statement#
#statement#@#statement#$|$#statement#
#statement#@#statement#$<<$#statement#
#statement#@#statement#$>>$#statement#
#statement#@#statement#$<:$#statement#
#statement#@#statement#$>:$#statement#
#statement#@#statement#$^$#statement#
#statement#@#statement#$>$#statement#
#statement#@#statement#$<$#statement#
#statement#@#statement#$<=$#statement#
#statement#@#statement#$>=$#statement#
#statement#@#statement#$==$#statement#
#statement#@#statement#$!=$#statement#
#statement#@#statement#$&&$#statement#
#statement#@#statement#$||$#statement#
#statement#@$~$#statement#
#statement#@$!$#statement#
#statement#@#left#$++$
#statement#@$++$#left#
#statement#@#left#$--$
#statement#@$--$#left#
#statement#@$sizeof$#statement#
#statement#@$return$#statement#
#statement#@$return$
#statement#@$($#type#$)$#statement#
#statement#@#call_enter#$)$
#statement#@#call_enter##call_list#$)$
#call_list#@#statement#
#call_list#@#call_list#$,$#statement#
#call_enter#@$var$$($
#statement#@$($#statement#$)$#tri_1#$?$#statement##tri_2#$:$#statement##tri_3#
#tri_1#@
#tri_2#@
#tri_3#@
#statement#@$start$#call_enter#$)$
#statement#@$start$#call_enter##call_list#$)$
#statement#@$wait$#statement#
#statement#@$new$#type##new_list#
#new_list#@$[$#statement#$]$
#new_list#@#new_list#$[$$const_num$$]$
#statement#@$break$
#statement#@$continue$
#statement#@$($#type#$)$#statement#
#control#@$if$$($#statement#$)$#if_2#$#block##if_3#
#control#@$if$$($#statement#$)$#if_2##block#$else$#if_3##block##if_4#
#control#@$while$$($#while_1##statement#$)$#while_2##block##while_3#
#control#@$for$$($#for_1##statement#$;$#for_2##statement#$;$#for_3##statement#$)$#for_4##block##for_5#
#control#@$do$#do_1##block#$while$$#do_2#$($#statement#$)$$;$#do_3#
#if_2#@
#if_3#@
#if_4#@
#while_1#@
#while_2#@
#while_3#@
#for_1#@
#for_2#@
#for_3#@
#for_4#@
#for_5#@
#do_1#@
#do_2#@
#do_3#@
#control#@$if$$($#statement#$)$#if_2#$#statement#$;$#if_3#
#control#@$if$$($#statement#$)$#if_2##statement#$;$$else$#if_3##statement#$;$#if_4#
#control#@$while$$($#while_1##statement#$)$#while_2##statement#$;$#while_3#
#control#@$for$$($#for_1##statement#$;$#for_2##statement#$;$#for_3##statement#$)$#for_4##statement#$;$#for_5#
#control#@$do$#do_1##block#$while$$#do_2#$($#statement#$)$$;$#do_3#
#type#@$random$#type#
#control#@$switch$$($#statement#$)$#switch_1#${$#case_list#$}$#switch_2#
#case_list#@$case$#statement##case_record##statememt_list#
#case_list#@#case_list#$case$#statement##case_record##statememt_list#$
#case_record#@$:$
#switch_1#@
#switch_2#@
#case_list#@$default$#case_record##statememt_list#
#case_list#@#case_list#$default$#case_record##statememt_list#