#jrunnner_start#@#program#
#program#@#statement_list#
#statement_list#@#statement_e#
#statement_list#@#statement_e#$;$#statement_list#
#statement_list#@#control##statement_list#
#statement_list#@#function##statement_list#
#statement_list#@#statement_dot#$;$#statement_list#
#statement_dot#@#statement#
#statement_dot#@#statement#$,$#statement_dot#
#declare_item#@$id$
#declare_item#@$id$$=$#statement#
#declare_item#@$id$$=$#function#
#declare#@#$var$#declare_item#
#declare#@#declare#$,$#declare_item#
#statement#@#declare#
#statement#@#statement#$+$#statement#
#statement#@#statement#$-$#statement#
#statement#@#statement#$*$#statement#
#statement#@#statement#$/$#statement#
#statement#@#statement#$%$#statement#
#statement#@#left#$++$
#statement#@#left#$--$
#statement#@$++$#left#
#statement#@$--$#left#
#statement#@#left#$=$#statement#
#statement#@#left#$=$#function#
#statement#@#left#$+=$#statement#
#statement#@#left#$-=$#statement#
#statement#@#left#$*=$#statement#
#statement#@#left#$/=$#statement#
#statement#@#left#$%=$#statement#
#statement#@#statement#$==$#statement#
#statement#@#statement#$==$$=$#statement#
#statement#@#statement#$!$$=$#statement#
#statement#@#statement#$!$$==$#statement#
#statement#@#statement#$>$#statement#
#statement#@#statement#$<$#statement#
#statement#@#statement#$>$$=$#statement#
#statement#@#statement#$<$$=$#statement#
#statement#@#statement#$&$$&$#statement#
#statement#@#statement#$|$$|$#statement#
#statement#@$!$#statement#
#statement#@$($#statement#$)$
#statement#@#statement#$?$#statement#$:$#statement#
#statement#@#left#
#left#@$id$
#left#@$num$
#left#@$"$#string#$"$
#string#@
#string#@$str$#string#
#left#@#left#$[$#statement#$]$
#left#@#left#$.$$id$
#left#@#function_call#
#control#@#control_start#$if$$($#statement#$)$#if_jmp##control#
#control#@#control_start#$if$$($#statement#$)$#if_jmp##statement#$;$
#control#@#control_start#$if$$($#statement#$)$#if_jmp##control##else_jmp#$else$#control#
#control#@#control_start#$if$$($#statement#$)$#if_jmp##statement#$;$#else_jmp#$else$#control#
#control#@#control_start#$for$$($#statement#$;$#for_1##statement#$;$#for_2##statement##for_3#$)$#control##for_4#
#control#@#control_start#$for$$($#statement#$;$#for_1##statement#$;$#for_2##statement##for_3#$)$#statement#$;$#for_4#
#control#@#control_start#$while$$($#statement#$)$#while_jmp##control#
#control#@#control_start#$while$$($#statement#$)$#while_jmp##statement#$;$
#control#@#control_start#$do$#block#$while$$($#statement#$)$#do_jmp#
#control#@#control_start#$do$#statement#$;$$while$$($#statement#$)$#do_jmp#
#control#@#control_start#$for$$($$id$$in$#statement#$)$#block#
#control#@#control_start#$for$$($$id$$in$#statement#$)$#statement#$;$
#control#@#control_start##switch_jmp#$switch$$($#statement#$)$${$#case_list#$}$
#case_list#@
#case_list#@#case_list##case_item#
#case_item#@$case$#statement#$:$#statement_list#
#control#@#block#
#block#@#enter_block##statement_list##leave_block#
#enter_block#@${$
#leave_block#@$}$
#function#@#func_reg##block#
#func_reg#@$function$$id$$($#param#$)$
#func_reg#@$function$$($#param#$)$
#function#@$($#function#$)$
#func_reg#@$function$$($$)$
#param#@$id$
#param#@$id$$,$#param#
#statement#@$return$#statement_e#
#statement#@$break$
#statement#@$continue$
#statement#@$new$#function_call#
#function_call#@#left#$($#call_param#$)$
#function_call#@#function#$($#call_param#$)$
#call_param#@
#call_param#@#statement#
#call_param#@#statement#$,$#call_param#
#call_param#@#function#
#call_param#@#function#$,$#call_param#
#statement#@$naive$$"$$str$$"$$as$$"$$str$$"$
#statement#@$+$#statement#
#statement#@$-$#statement#
#statement#@$typeof$#statement#
#statement#@#json#
#json#@${$#json_list#$}$
#json_list#@
#json_list#@#json_item#
#json_list#@#json_list#$,$#json_item#
#json_item#@$id$$:$#statement#
#json_item#@$id$$:$#function#
#json_item#@$str$$:$#statement#
#json_item#@$str$$:$#function#
#control#@#try_reg#$try$#block##catch_jmp#$catch$$($$id$$)$#catch_reg##block#
#statement#@$throw$#statement#
#statement_e#@
#statement_e#@#function#
#statement_e#@#statement#
#statement#@$[$#statement_dot#$]$
#statement#@$[$$]$
#func_reg#@$function$$id$$($$)$
#control_start#@
#control#@#control_start#$if$$($#statement#$)$#if_jmp##control##else_jmp#$else$#statement#$;$
#control#@#control_start#$if$$($#statement#$)$#if_jmp##statement#$;$#else_jmp#$else$#statement#$;$
#if_jmp#@
#else_jmp#@
#while_jmp#@
#do_jmp#@
#for_1#@
#for_2#@
#for_3#@
#for_4#@
#switch_jmp#@
#catch_jmp#@
#try_reg#@
#catch_reg#@
#statement#@$new$$var$$[$#statement#$]$