#start#@#tuple_start#
#tuple_list#@#tuple#
#tuple_list#@$var$
#tuple_list#@#tuple_list##tuple#
#tuple#@#tuple_pre##tuple_list##tuple_post#
#tuple_pre#@#$<$$var$#attribute_list#$>$
#tuple_post#@$<$$/$$var$$>$
#attribute_list#@
#attribute_list#@#attribute_list##attribute#
#attribute#@$var$$=$$"$$var$$"$
#attribute#@$var$$=$$'$$var$$'$
#attribute#@$var$$=$$num$
#tuple_start#@#tuple#